<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Linkbelt</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    
    <h1>Long URL: <a href="{{ long_url }}">{{ long_url }}</a></h1>
    <h1>Short URL: <a href="{{ short_url }}">{{ short_url }}</a></h1>      
      
    </body>
</html>
